<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/style.css">
     <title>Create</title>
</head>

<body>
     <h1>Create your bin! <button onclick="createBin()">Publish your bin!</button> <button
               onclick="redirectToHome()">Home</button></h1>
     <textarea name="BinCode" id="BinCode" placeholder="Type Here"></textarea>
     <img style="display: inline; margin-bottom: 40px; width: 47vw; height: 85vh; padding-top: 5px;"
          src="https://g1-addtext.ft-uc.com/MjAyMDEwMDE/addtext_com_MTUxMjM3OTYyNA.png">
     <script src="https://cdn.jsdelivr.net/gh/Tyson3101/getElement@6ec9593/src/main.js" defer></script>
     <script src="../js/bin.js" defer></script>
     <script>
          function redirectToHome() {
               window.location = '/'
          }
     </script>
</body>

</html>